.Post {
  padding: 12px;
  border: 1px solid rgb(157, 175, 175);
  max-width: 15vw;
  min-width: 15vw;
  height: 40vh;
  background-color: whitesmoke;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;

  font-family: "Roboto", sans-serif;

  box-shadow: 5px 7px rgb(157, 175, 175);
}

.Post a {
  margin: 0 auto;
  /* border: 1px solid black; */
}
.Image {
  width: 14vw;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
}

.Post-btn-container {
  /* border: 1px solid black; */
  /* width: 10vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Post-btn {
  border: none;
  margin: 2px;
  border-radius: 5px;
  background-color: whitesmoke;
}
.Likes {
  font-weight: bold;
}
