.App-header {
  width: 100vw;
  height: 10vh;
  background-color: #5C4280;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.Header {
  /* border: 1px solid black; */
  width: 90vw;
  height: 10vh;

  display: flex;
  align-items: center;
}
#header-icon {
  max-width: 2.5vw;
  color: white;
}
#title{
  font-size: 2.5vw;
  font-family: 'Viga', sans-serif;
  font-weight: normal;
  color: whitesmoke;
}
