.App-header {
  width: 100vw;
  height: 10vh;
  /* background-color: rgb(59, 95, 95); */
  background-color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Header {
  /* border: 1px solid black; */
  width: 90vw;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-icon {
  max-width: 2.5vw;
  color: white;
}
#title {
  font-size: 2.5vw;
  font-family: "Viga", sans-serif;
  font-weight: normal;
  color: whitesmoke;
}
.Nav {
  /* border: 1px solid black; */
  width: 25vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.Nav-btn {
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  color: whitesmoke;
}
